@media screen and (max-width: 1400px) {
  .header .header-bg {
    min-width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .header .head {
    width: 60px;
    height: 60px;
  }
  .header nav {
    height: 60px;
  }
  .header nav ul {
    gap: 100px;
  }
  .header nav ul li h3 {
    font-size: 3.3em;
  }
  .header .head-title {
    width: 700px;
    height: 700px;
  }
  .header .arrow {
    height: 100%;
  }
  .slide .marquee {
    height: 200px;
  }
  .slide img {
    width: 200px;
    height: 200px;
  }
  .about .about-content {
    width: 60%;
  }
  .roadmap .roadmap-content {
    width: 70%;
  }
  .roadmap .roadmap-content p {
    font-size: 3em;
  }
  .nfts .nfts-content {
    width: 60%;
  }
  .nfts .nfts-content ol li p {
    font-size: 3em;
  }
}
@media screen and (max-width: 1000px) {
  .App .bg {
    height: 150vh;
    top: 60%;
  }
  .header .head {
    width: 130px;
    height: 130px;
    position: absolute;
    top: 80%;
    left: calc(50% - 50px);
  }
  .nfts .nfts-content ol li p {
    text-align: left;
  }
  .footer {
    height: 130px;
    gap: 10px;
  }
  .footer img {
    width: 180px;
  }
  .footer p {
    font-size: 1em;
    color: #fff;
  }
  .link-menu {
    width: 45px;
    height: 200px;
  }
  .link-menu ul li {
    width: 45px;
    height: 45px;
  }
}
@media screen and (max-width: 763px) {
  .header nav {
    height: 50px;
  }
  .header nav ul {
    gap: 80px;
  }
  .header nav ul li h3 {
    font-size: 2.5em;
  }
  .header .head-title {
    width: 600px;
    height: 600px;
  }
  .header .arrow img {
    min-width: 736px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .slide .marquee {
    height: 150px;
  }
  .slide img {
    width: 150px;
    height: 150px;
    opacity: 0.8;
  }
  .about h2 {
    font-size: 5em;
  }
  .about .about-content {
    width: 70%;
  }
  .about .about-content p {
    font-size: 2.35em;
  }
  .roadmap h2 {
    font-size: 5em;
  }
  .roadmap .roadmap-content p {
    font-size: 3em;
  }
  .nfts h2 {
    font-size: 5em;
  }
  .line {
    top: 11%;
  }
  .footer img {
    width: 150px;
  }
  .footer p {
    font-size: 1em;
    color: #fff;
  }
  .link-menu {
    width: 40px;
    height: 180px;
  }
  .link-menu ul li {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 600px) {
  .App .bg {
    height: 120vh;
    top: 65%;
  }
  .header nav {
    display: none;
  }
  .header .head-title {
    width: 450px;
    height: 450px;
  }
  .header .head {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 80%;
    left: calc(50% - 40px);
  }
  .slide .marquee {
    height: 120px;
  }
  .slide img {
    width: 120px;
    height: 120px;
  }
  .about {
    height: 100%;
    margin: 0;
  }
  .about .about-content {
    width: 70%;
  }
  .about .about-content p {
    font-size: 2em;
  }
  .roadmap {
    height: 100%;
    margin: 0;
  }
  .roadmap h2 {
    font-size: 4.5em;
  }
  .roadmap .roadmap-content {
    height: 50%;
  }
  .roadmap .roadmap-content p {
    font-size: 2em;
  }
  .nfts {
    height: 100%;
    margin-bottom: 200px;
  }
  .nfts .nfts-content {
    min-height: auto;
  }
  .nfts .nfts-content ol {
    gap: 50px;
  }
  .nfts .nfts-content ol li p {
    font-size: 2em;
  }
  .footer {
    height: 100px;
  }
  .footer img {
    width: 100px;
  }
  .footer p {
    font-size: 0.6em;
    color: #fff;
  }
  .mobile {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    z-index: 1000000;
    transition: 0.5s;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .mobile li {
    list-style: none;
    font-size: 1.6em;
    color: #b93b01;
    transform: scale(0);
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
  }
  .mobile .toggle {
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    background-color: #ffba61;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }
  .mobile .toggle::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    transform: translateY(-5px);
    transition: 0.5s;
  }
  .mobile .toggle::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    transform: translateY(5px);
    transition: 0.5s;
  }
  .active {
    width: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  .active li {
    transform: scale(1);
    opacity: 1;
  }
  .active .toggle {
    background-color: #b93b01;
    width: 23px;
    height: 23px;
    position: relative;
    transition: 0.5s;
  }
  .active .toggle::before {
    content: "";
    transform: translateY(0px) rotate(45deg) scale(0.4);
  }
  .active .toggle::after {
    content: "";
    transform: translateY(0px) rotate(315deg) scale(0.4);
  }
  .link-menu {
    width: 30px;
    height: 120px;
  }
  .link-menu ul li {
    width: 30px;
    height: 30px;
  }
}/*# sourceMappingURL=media.css.map */